PARSE_URL=http://192.168.1.1:1337/parse
PARSE_APP_ID=APPLICATION_ID
ALLOW_EMPTY_PASSWORD=yes

PARSE_SERVER_APPLICATION_ID=APPLICATION_ID
PARSE_SERVER_MASTER_KEY=MASTER_KEY
PARSE_SERVER_DATABASE_URI=mongodb://parse-mongodb/tradeNote

PARSE_INIT=APPLICATION_ID
PARSE_MASTER_KEY=MASTER_KEY

PARSE_DASHBOARD_SERVER_URL=http://192.168.1.1:1337/parse
PARSE_DASHBOARD_APP_ID=APPLICATION_ID
PARSE_DASHBOARD_MASTER_KEY=MASTER_KEY
PARSE_DASHBOARD_USER_ID=admin
PARSE_DASHBOARD_USER_PASSWORD=admin
PARSE_DASHBOARD_APP_NAME=tradenote
PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=1
PARSE_DASHBOARD_ALLOW_ANONYMOUS_USER=1
